/* encode-sans-expanded-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Encode Sans Expanded";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/encode-sans-expanded-v11-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* encode-sans-expanded-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Encode Sans Expanded";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/encode-sans-expanded-v11-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* encode-sans-expanded-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Encode Sans Expanded";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/encode-sans-expanded-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.header {
  height: 160px;
  padding-top: 30px;
  padding-bottom: 30px;
}
li a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.logo__img {
  max-width: 100px;
}
.nav-link {
  font-family: "Encode Sans Expanded";
  font-weight: 600 !important;
  box-shadow: inset 0 0 0 0 #54b3d6 !important;
  color: #146380 !important ;
  margin: 0 -0.25rem !important;
  padding: 0 0.25rem !important;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out !important;
}
.nav-link:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6 !important;
  color: white !important;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 200vh;
  font-family: "Encode Sans Expanded" !important;
  font-weight: 700 !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.photo-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  margin-top: 40px;
  border-radius: 10px;
  color: #fff;
  background-color: #e0e0e05f;
}
.photo:hover {
  transform: scale(1.02);
  transition: 0.5s;
  background-color: #3ca3e7 !important;
  box-shadow: 3px 3px 20px 8px rgba(42, 162, 236, 0.779);
}

.photo-title {
  font-family: "Encode Sans Expanded" !important;
  font-weight: 700 !important;
}
